*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* .swiper-wrapper{
    padding: 2rem;
} */
body{
    color: black;
    background: var(--body-color);
}
.paused {
    overflow: hidden;
}

:root{
    --body-color:#fff;
    --text-color:#26333f;
    /* --text-color:red; */
    --main-color:#7b00d3;
    --logo-color:#7b00d3;
    /* --logo-color:red; */
    /* --footer-color:#7158e2; */
    /* --footer-color:#4e4677; */
    --footer-color:#662d91;
    --black-color:#3d3d3d;
    /* --card-color:#3d3d3d; */
    --card-color:#fff;
    --black-color-2:#131516;
    --header-bg-light:rgba(255,255,255,0.5);
    --header-bg-dark:rgba(35, 35, 35, 0.5);
}
.dark body{
    --text-color: white;
    --logo-color: rgb(220, 220, 220);
    --card-color:#3d3d3d;
    --header-bg-light:rgba(67, 67, 67, 0.5);
    --body-color:var(--black-color-2);
    --footer-color:#452c63;
}
section{
    padding-bottom: 2rem;
}
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999999;
    visibility: hidden;
}

.loader {
    border: 4px solid gainsboro;
    border-top: 4px solid var(--main-color);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin 2s linear infinite;
}

.loading .loader-wrapper {
    visibility: visible;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

ul {
    list-style: none;
    margin: 0;
}
/* li{
    line-height: 50%;
} */

.language-label {
    color: var(--text-color);
}
a,
h2,
h3{
    color: var(--text-color);
    /* color: red; */
}

a {
    text-decoration: none;
}

.logo {
    font-size: 1.45em;
    z-index: 10;
}

.main-nav {
    display: flex;
    /* margin-top: 15px; */
    margin: 0;
    align-items: center;
}

.logo a,
.main-nav a,
.language-option {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #34495e;
    font-size: .99em;
}

.main-nav a:hover {
    color: #718daa;
    color: #8ba1e8;
}

.navButton{
    display: none;
    background: transparent;
    cursor: pointer;
    z-index: 10;
}

.navButton #close{
    display: none;
}

.header {
    display: flex;
    gap: 40px;
    padding: 1rem;
    align-items: center;
    /* flex-direction: column; */
    /* z-index: 1; */
    top: 0;
    left:0;
    position: sticky;
    z-index: 99999;
    background: var(--header-bg-light);
    backdrop-filter: blur(5px);
    line-height: 1;
}
.themeButton{
    color: var(--logo-color);
}
.themeButton:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
    background-color: #97359c;
    transition: 0.5s ease;
}
.language-option {
    background-color: none;
    color: #34495e;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* top: 2rem; */
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    /* width: 100%; */
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content>p{
    padding: 0.5em;
}
.dropdown-content>p:hover {
    color: #2d3237;
    cursor: pointer;
}

.dropdown-content>p>img {
    height: 15px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

/* hero starts here */
.hero-sec {
    height: 525px;
    background-color: black;
}

#hero-headline {
    /* margin-left: 7%; */
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
}

#hero-headline p {
    margin-top: 12%;
    font-size: 34px;
    color: #000763;
    text-align: left;
    max-width: 58%;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #F1FAEE;
    font-size: 4rem;
}




#spare-time {
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 1rem;
    margin-top: 0;
    /* color: #A8DADC; */
    color: red;

}

.roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;
}



/* current exhibitions */
.ongoing-exhib,
.our-gallery>p,
.artisan-hub,
.upcoming-exhib {
    /* margin-top: 3%; */
    /* color: #0e102a; */
    color: red;
    font-size: 50px;
    font-weight: 800;
}

.ongoing-exhib{
    padding: 40px;
    text-align: center;
    font-size: 3rem;
    background: -webkit-linear-gradient(#eee, #7b00d3);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ongoing-exhib-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    place-items: center;
}

.oe-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

img.oe-flex-item {
    height: 250px;
    width: 250px;
    overflow: hidden;
    display: block;
    width: 250px;
    height: 250px;
    transition: transform 0.3s;
    border-radius: 6px;
}

h3,
p.oe-flex-item {
    margin: 0;
    margin-right: 0;
    margin-top: 10px;
    max-width: 200px;
}

/* #93A5CF → #E4EfE9 */
/* our gallery */
.our-gallery {
    padding: 40px;
    padding-bottom: 0;
    /* background-color: #f8edcd; */
    /* background-color: rgba(59,130,246,.5); */
    /* background: linear-gradient(315deg, rgba(139,161,232,0.3) 35% , rgba(228,239,233,1) 0%); */
    /* background-image: linear-gradient(to right, rgba(228,239,233,1) 50%, #a460d5); */
    text-align: center;
    /* color:#a460d5; */
    /* color:#8ba1e8; */
    background: -webkit-linear-gradient(#eee, #7b00d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.our-gallery p{
    font-size: 3rem;
}


#gallery{
    width: 100%;
    max-width: 1000px;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    white-space: nowrap;
    border-radius: 6px;
}
.scroll{
    display: flex;
    flex-wrap: nowrap;
    animation: scroll 10s linear infinite;
}
.scroll:hover{
    animation-play-state: paused;
}
/* @keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
} */

#gallery::-webkit-scrollbar{
    display: none;
}

#gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    /* padding: 10px; */
    flex: none;
}
#gallery img{
    border-radius: 6px;
    height: 200px;
    aspect-ratio: 3 / 2;
    /* filter: grayscale(100%); */
    transition: transform 0.2s ease;
}
#gallery img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.091);
}

.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% auto;
}

.our-gallery-btn {
    display: flex;
    justify-content: center;
}
.our-gallery-btn:hover{
    color: black;
}

#explore-gallery {
    margin-top: 18px;
    margin-right: 4%;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    background-color: transparent;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 20px;
}
#explore-gallery:hover{
    border: 2px solid #7b00d3;
    color: #7b00d3;
    cursor: pointer;
}

/* artisan hub */
.artisan-hub {
    margin-top: 0;
    text-align: center;
    padding-top: 40px;
    padding: 40px;
    background: -webkit-linear-gradient(#eee, #7b00d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem ;
}
.artisan-hub-img img {
    border-radius: 2rem;
    height: 250px;
    aspect-ratio: 3 / 2;
}

.artisan-hub-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 55px;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
}

.artisan-hub-info-flexbox {
    display: flex;
    flex-direction: column;
}
.artisan-info{
    align-self: start;
}
.artisan-info img {
    height: 50px;
    align-items: center;
    border-radius: 6px;
}

.artisan-info {
    display: flex;
    align-items: flex-start;
}

.artisan-info img {
    max-width: 100%;
    margin-right: 10px;
    border-radius: 1rem;
    /* Adjust the margin as needed */
}

.artisan-info p {
    margin: 0;
    font-size: 35px;
    font-weight: 600;
    color: #9534db;
}

.artisan-info-details {
    padding-left: 55px;
}

/* upcoming exhibitions */
/* .upcoming {
    background-color: #c0f94e;
    padding-bottom: 30px;
} */

/* .upcoming-exhib {
    color: #4f4f01;
    padding-top: 40px;
} */

/* .upcoming-exhib-about {
    color: #254506;
} */

/* .column {
    float: left;
    width: 100%;
    padding: 10px 50px;
    color: black;
} */
.slide-containor{
    max-width: 1020px;
    width: 100%;
}
.slide-content{
    margin: 0 40px;
    border-radius: 10px;
    overflow: hidden;
}
.swiper-pagination{
    color: var(--main-color);
}
.ongoingCard{
    /* margin: 2rem; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-color: var(--card-color);
    border-radius: 10px;
    padding: 1rem;
    /* width: 100%;
    max-width: 320px; */
}
.scrollCard{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-color: var(--card-color);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px;
    margin-left: 8%;
    margin-right: 8%;
    place-items: center;
    
}

/* .row:after {
    content: "";
    display: table;
    clear: both;
} */



.card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    /* box-shadow: 0 0 #0000, 0 0 #0000,0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1); */
    padding: 12px;
    text-align: center;
    background-color: var(--card-color);
    color: var(--text-color);
    transition: 0.3s;
    border-radius: 10px;
    width: 100%;
}

.upcoming img {
    border-radius: 10px 10px 10px 10px;
    height: 200px;
    aspect-ratio: 3 / 2;

}

/* newsletter */

.box {
    
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 20px;
    margin: auto;
    margin-top: 2rem;
    padding: 30px;
    text-align: center;
    max-width: 500px;
}

.box h2 {
    margin: 10px 0 0;
}

.box p {
    color: #312940;
    margin: 10px;
}

.box img {
    max-width: 100%;
    width: 400px;
}

.form-control {
    position: relative;
    margin: 30px 0 20px;
}

.input {
    border: 0;
    border-radius: 50px;
    
    display: block;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    height: 42px;
    padding: 12px 25px;
    width: 100%;
}

.btn {
    background-color: #312940;
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    height: 42px;
    padding: 12px 25px;
    position: absolute;
    top: 0;
    right: 0;
}

.input:focus,
.btn:focus {
    outline: 0;
}

.floating-btn {
    border-radius: 26.5px;
    background-color: #001F61;
    border: 1px solid #001F61;
    
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}
/* .floating-btn-google {
    border-radius: 26.5px;
    background-color: #001F61;
    border: 1px solid #001F61;
    font-size: 12rem;
    color: #fff;
    cursor: pointer;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
} */

#google_translate_element {
    /* position: absolute;
    bottom: calc(53px + 16px);
    right: 16px!important; */
    z-index: 99999;
  }
  .goog-te-gadget {
    font-family: Roboto, 'Open Sans', sans-serif!important;
    text-transform: uppercase;
  }
  .goog-te-gadget-simple  {
    background-color: rgba(255,255,255,0.20)!important;
    border: 1px solid rgba(255,255,255,0.50) !important;
    border-radius: 4px!important;
    font-size: 1rem!important;
    line-height:2rem!important;
    display: inline-block;
    cursor: pointer;
    zoom: 1;
  }
  .goog-te-menu2 {
    max-width: 100%;
  }
  .goog-te-menu-value {
    color: #fff !important;
      &:before {
      font-family: 'Material Icons';
      content: "\E927";
      margin-right: 16px;
      font-size: 2rem;
      vertical-align: -10px;
      width:32px!important;
    } 
  }
  .goog-te-menu-value span:nth-child(5) {
    display:none;
  }
  .goog-te-menu-value span:nth-child(3) {
    border:none!important;
    font-family: 'Material Icons';
    &:after {
      font-family: 'Material Icons';
      content: "\E5C5";
      font-size: 1.5rem;
      vertical-align: -6px;
    }  
  }
  
  .goog-te-gadget-icon {
      background-image: url(https://placehold.it/32)!important;
      background-position: 0px 0px;
      height: 32px!important;
      width: 32px!important;
      margin-right: 8px!important;
      display: none;
  }
  .goog-te-banner-frame.skiptranslate {display: none!important;} 
  body {top: 0px!important;}
  
  /* ================================== *\
      Mediaqueries
  \* ================================== */
  @media (max-width: 667px) {
      #google_translate_element {
          bottom: calc(100% - 50% - 53px);
          left: 16px!important;
          width: 100%!important;
          goog-te-gadget {
              width:100%!important;
          }
          .skiptranslate {
              width:100%!important;			
          }
          .goog-te-gadget-simple {
              width: calc(100% - 32px)!important;
              text-align: center;
          }	
      }
  }



.floating-btn:focus {
    outline: none;
}

.floating-text {
    background-color: #001F61;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-family: 'Muli';
    padding: 7px 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 50;
}

.floating-text a {
    color: #FF7500;
    text-decoration: none;
}


::selection {
    background: transparent;
}



/* -------------FOOTER-------------------------- */
/* .text-small {
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover, a:focus {
  text-decoration: none;
}

.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}

footer {
  background: #212529;
}

 */

.footer {
    /* margin-top: 380px; */
    /* margin-left: 30px; */
    /* margin-right: 30px; */
    background-color: var(--footer-color);
    /* background: -webkit-linear-gradient(#b578ff, #7b00d3); */
    padding-top: 20px;
    color: white;
    font-family: Arial, sans-serif;
}

.footer .social-media{
    
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    padding-bottom: 0px;
}
.newsletter .newsletter-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pt-2{
    text-align: center;
    font-size: 2rem;
}
.footer-text{
    text-align: center;
    text-wrap: wrap;
}
.copyright{
    text-align: center;
    background-color: black;
    color:white;
    padding: 10px;
}
.footer-links{
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
}
.footterInput{
    border: 0;
    border-radius: 50px;
    display: block;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    /* height: 42px; */
    padding: 12px 20px;
    width: 100%;
}
.subscribe{
    background-color: #312940;
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    height: 42px;
    padding: 12px 25px;
}
.btn-social {
    font-size: 2rem;
    color: blue;
    margin-right: 15px;
}

.btn-facebook{
    color: #4565aa;
}
.btn-twitter{
    color: #00acee ;
}
.btn-google{
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.btn-instagram{
    color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
.btn-github{
    color: #fff;
}

/* Responsive design */

@media (max-width:1080px){
    .main-nav{
        opacity: 0;
    }
    html{
        overflow-x: hidden;
    }
    .header{
        justify-content: space-between;
        position: fixed;
        width: 100%;
    }
    .navButton{
        display: block;
    }
    .main-nav{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        gap: 1rem;
        transition: all 0.3s linear;
        background: white;
        background: rgba(255, 255, 255, 0.98);
        backdrop-filter: blur(5px);
        visibility: hidden;
        pointer-events: none;
        transform: translateX(100%);
        opacity: 0;
        z-index: 5;
    }

    .active .main-nav{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .navButton #close{
        display: block;
    }
    .active .navButton #open{
        display: none;
    }

    .ongoing-exhib-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 3fr;
        gap: 10px;
        place-items: center;
    }
    .artisan-hub-info-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 2fr;
        gap: 55px;
        margin-left: 8%;
        margin-right: 8%;
        place-items: center;
    }
    .upcoming img {
        border-radius: 10px 10px 10px 10px;
        width:  300px;
        aspect-ratio: 3 / 2;
    }
    .row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 2fr;
        gap: 55px;
        margin-left: 8%;
        margin-right: 8%;
        place-items: center;
    }
}