/* .contact-form {
    background-color: var(--card-color);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 80%;
    margin: 10rem auto;
  } */
/*   
  .contact-form label {
    color: var(--text-color);
  }
  
  .contact-form .heading {
    font-size: 24px;
    color: var(--text-color);
    ;
    margin-bottom: 12px;
    font-weight: bold;
    display: block;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 10px;
  }
  
  textarea {
    resize: none;
    height: 80px;
    width: 200px;
  }
  
  .contact-form input, .contact-form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #7b00d3;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  
  .contact-form button[type="submit"] {
    background-color: #7b00d3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .contact-form button[type="submit"]:hover {
    transform: scale(1.051);
    transition: transform 0.3s ease-in-out;
  } */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
  /* --footer-color:#4B0082; */
  --footer-color:#33006F;
  background-color: var(--bg-color) ;
  --main-color:#7b00d3;
  --logo-color:#7b00d3;
  --bg-color: #7b00d3;
  --contactCard-color: #fff;
  --contactImg-color: #f0f4f8;
}
.dark body{
  --bg-color: #131516;
  --contactCard-color: #3d3d3d;
  --contactImg-color: #292828;
}
.contact-form{
    position: relative;
    min-height: 100vh;
    z-index: 0;
    background: var(--bg-color);
    padding: 30px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;
}
.container{
    max-width: 800px;
    margin-top: 0 auto;
}
.contact-form h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
    font-family: 'poppins';
}
.contact-form h2{
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    text-align: center;
}
.contact-form .contactMain{
    position: relative;
    display: flex;
    margin: 30px 0;
}
.content{
    flex-basis: 50%;
    padding: 3em 3em;
    background: var(--contactCard-color);
    box-shadow: 2px 9px 49px -17px rgba(156, 39, 148, 0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.form-img{
    flex-basis: 50%;
    background: var(--contactImg-color);
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    display: grid;
}
.form-img img{
    max-width: 100%;
}
.btn,
button,
input{
    border-radius: 35px;
}
.btn:hover,
button:hover{
    background-color: #97359c;
    transition: 0.5s ease;
}
.contact-form form{
    margin: 30px 0;
}
.contact-form input,
textarea{
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: #999;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #fcfcfc;
    transition: 0.3s ease;
}
.contact-form input:focus{
    background: transparent;
    border: 1px solid #7b00d3;
}
.contact-form button{
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: #7b00d3;
    font-weight: 600;
    transition: 0.3s ease;
    padding: 14px 15px;
    border: 1px solid #7b00d3;

}
textarea{
  border-radius: 1rem;
}
@media (max-width:1080px){
  .header{
    position: sticky;
  }
}
@media(max-width:736px){
    .contact-form .contactMain{
        flex-direction: column;
    }
    .contact-form form{
        margin-top: 30px;
        margin-bottom: 10px;

    }
    .heading{
      margin-bottom: 4rem;
    }
    .form-img{
      display: none;
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        order: 2;
    }
    .content{
        order: 1;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding-bottom: 3rem;
    }
}

/* Dark mode */

:root{
    --text-color:#26333f;
    /* --card-color:#f2f2f2; */
    --card-color:#f2f2f2;
}
.dark body{
    --text-color: white;
    --card-color:#3d3d3d;
}
  